.color1{
    background-color: blueviolet;
}

.color2{
    background-color: aqua;
}

.color3{
    background-color: cadetblue;
}

.color4{
    background-color: chartreuse;
}

.color5{
    background-color: chocolate;
}

.color6{
    background-color: yellowgreen;
}

.block{
    height: 150px;
}